<section class="about section">
  <div class="about__container container">
    <div class="about__left-side">
      <h2 class="about__title title">About Us</h2>
      <p class="about__text">
        The model offers a framework for discussing problems related to
        the user's experience, as well as possible ways and means of
        solving them. Application development begins at the top level
        (strategy), where the future software product is described quite
        abstractly from the point of view of the expectations of both
        users and the customer.
      </p>
      <ul class="about__list">
        <li class="about__item">
          <h3 class="about__item-title title">800</h3>
          <p class="about__item-text">Pupils</p>
        </li>
        <li class="about__item">
          <h3 class="about__item-title title">18</h3>
          <p class="about__item-text">Teachers</p>
        </li>
        <li class="about__item">
          <h3 class="about__item-title title">6</h3>
          <p class="about__item-text">Foreign languages</p>
        </li>
      </ul>
    </div>
    <img src="./images/Business-competition-bro.png" alt="business-mountain" width="540" height="540" />
  </div>
</section>