<section>
        <div class="container container-contact">
          <img
            src="./images/contact.png"
            alt="contact"
            class="contact-img"
            ;
            width="425"
          />
          <div class="contact">
            <h2 class="contact__title">Contact Us</h2>
            <p class="contact__text">
              Discover your current English level by taking our free online
              English test. Sign up to our newsletter for learning tips and free
              resources
            </p>
            <div class="subsribe">
              <form action="">
                <input
                  class="subscribe__input"
                  type="email"
                  name="email"
                  placeholder="Enter Your E-mail"
                />
                <button
                  type="button"
                  class="subscribe__btn"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>