<section class="contact">
  <div class="contact__container container">
    <img class="contact__img" src="./images/contact.png" alt="boy with paper plane" width="425" height="430" />
    <div class="contact__right-side">
      <h2 class="contact__title title">Contact us</h2>
      <p class="contact__text">
        Discover your current English level by taking our free online
        English test. Sign up to our newsletter for learning tips and free
        resources
      </p>
      <div class="contact__form">
        <input class="contact__input" type="email" name="email" placeholder="Enter Your E-mail" />
        <button class="contact__btn" type="submit">Subscribe</button>
      </div>
    </div>
  </div>
</section>