<header class="header">
  <div class="header-container container">
    <nav class="nav-header">
      <a href="./index.html" class="logo-header logo link"
        >Brit<span class="logo-span">lex</span></a
      >
      <ul class="site-nav list">
        <li class="list-item link">
          <a href="#" class="nav-link link">Home</a>
        </li>
        <li class="list-item link">
          <a href="#" class="nav-link link">Skills</a>
        </li>
        <li class="list-item link">
          <a href="#" class="nav-link link">About us</a>
        </li>
        <li class="list-item link">
          <a href="#" class="nav-link link">Pricing</a>
        </li>
        <li class="list-item link">
          <a href="#" class="nav-link link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-btn btn">Let’s Talk</button>
  </div>
</header>
