<header class="header">
  <div class="header__container container">
    <nav class="nav">
      <a href="./index.html" class="header__logo logo link"
        >Brit<span class="logo-span">lex</span></a
      >
      <ul class="nav__list list">
        <li class="nav__item link">
          <a href="#" class="nav__link link">Home</a>
        </li>
        <li class="nav__item link">
          <a href="#" class="nav__link link">Skills</a>
        </li>
        <li class="nav__item link">
          <a href="#" class="nav__link link">About us</a>
        </li>
        <li class="nav__item link">
          <a href="#" class="nav__link link">Pricing</a>
        </li>
        <li class="nav__item link">
          <a href="#" class="nav__link link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn btn" type="button">Let’s Talk</button>
  </div>
</header>
