<section class="hero-section section">
  <div class="hero-container container">
    <div class="hero-leftside">
      <h1 class="hero-title">
        Learn <br />
        Any Foreign Language
      </h1>
      <p class="hero-text">
        With our teachers who write a program for each student, you will be able
        to make your first sketch after the first lesson.
      </p>
      <button class="hero-btn btn" type="button">Get started</button>
    </div>
    <img
      src="./images/learning-languages.png"
      alt="Girl learning languages"
      width="654"
      height="510"
    />
  </div>
</section>
