<section class="pricing section">
        <div class="pricing__container container">
          <h2 class="pricing__title title">Pricing</h2>
        <ul class="pricing__list">
          <li class="pricing__item">
            <img
              class="pricing__img"
              src="./images/online.png"
              alt=""
              width="426"
            />
            <div>
              <div class="pricing__content">
                <h3 class="pricing__item-title">Self-study online course</h3>
                <p class="pricing__item-text pricing__item-text--first">
                  Start learning English online in live classes with qualified
                  EC teachers and students from all over the world.
                </p>
              </div>
              <div class="pricing__pricelist">
                <p class="pricing__price">£5.99</p>
                <p class="pricing__text">per month</p>
              </div>
            </div>
          </li>
          <li class="pricing__item">
            <img
              class="pricing__img"
              src="./images/lesson.png"
              alt=""
              width="426"
            />
            <div class="pricing__content">
              <h3 class="pricing__item-title">Live online classes</h3>
              <p class="pricing__item-text pricing__item-text--secondary">
                Interactive group classes with expert teachers. Free 7-day trial
              </p>
            </div>
            <div class="pricing__pricelist">
              <p class="pricing__price">£12.99</p>
              <p class="pricing__text">per month</p>
            </div>
          </li>
          <li class="pricing__item">
            <img
              class="pricing__img"
              src="./images/webinar.png"
              alt=""
              width="426"
            />
            <div class="pricing__content">
              <h3 class="pricing__item-title">Personal Tuition</h3>
              <p class="pricing__item-text pricing__item-text--secondary">
                Online one-to-one English tutoring – enjoy our first session for
                only $1
              </p>
            </div>
            <div class="pricing__pricelist">
              <p class="pricing__price">£12.99</p>
              <p class="pricing__text">per month</p>
            </div>
          </li>
        </ul>
        </div>
      </section>