<section class="section">
  <div class="skills__container container">
    <h2 class="skills__title title">Skills</h2>
    <ul class="skills__list">
      <li class="skills__item speaking">
        <img class="skills__img" src="./images/Shared-goals-bro.png" alt="Two man Speaking about goal" width="390" />
        <h3 class="skills__item-title">Speaking</h3>
        <p class="skills__item-text">
          Improve your English skills and confidence. Live classes and
          interactive lessons online. 20% extra free for a limited time
          only
        </p>
        <p class="skills__item-text">
          Learn English online and improve your skills through our
          high-quality courses and resources – all designed for adult
          language learners.
        </p>
        <a class="skills__info" href="">Learn more</a>
      </li>
      <li class="skills__item writing">
        <img class="skills__img" src="./images/Typewriter-bro.png" alt="Typewriter" width="390" />
        <h3 class="skills__item-title">Writing</h3>
        <p class="skills__item-text">
          One of the most important and extensive areas of natural
          science, the science that studies substances, also their
          composition
        </p>
        <a class="skills__info" href="">Learn more</a>
      </li>
      <li class="skills__item reading">
        <img class="skills__img" src="./images/House-bookshelves-bro.png" alt="Man Reading a book" width="390" />
        <h3 class="skills__item-title">Reading</h3>
        <p class="skills__item-text">
          Perception and response actions of the user resulting from the
          use and/or upcoming use of the product, system or service
        </p>
        <a class="skills__info" href="">Learn more</a>
      </li>
      <li class="skills__item listening">
        <div>
          <h3 class="skills__item-title">Listening</h3>
          <p class="skills__item-text">
            Here you can find activities to practise
            your listening skills. Listening will help
            you to improve your understanding
          </p>
          <a class="skills__info" href="">Learn more</a>
        </div>
        <img class="skills__img listening" src="./images/Podcast-audience-bro.png" alt="Podcast audience listening"
          width="408" />
      </li>
    </ul>
  </div>
</section>