.container-contact {
	display: flex;
	justify-content: space-between;
	font-family: poppins;
}

.contact__title {
	margin-bottom: 60px;
	font-weight: 600;
	font-size: 48px;
	line-height: calc(72/48);
	color: #000000;	
}

.contact__text {
	margin-bottom: 30px;
	line-height: calc(30/20);
	color: #8F95A5;
	width: 654px;
}

.subscribe__input {
	padding: 21px 31px;
	width: 425px;
	height: 70px;
	margin-right: 30px;
	font-size: 16px;
	line-height: 1.88;
	border: 1px solid #8F95A5;
	border-radius: 10px;
}

.subscribe__btn {
	padding: 20px 56px;
	width: 312px;
	min-height: 70px;
	font-weight: 500;
	font-size: 20px;
	line-height: calc(30/20);
	text-align: center;
	letter-spacing: 0.03em;
	align-items: center;

	background-color: #263238;
	color: #FFFFFF;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
}
