.header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 236px;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: calc(30 / 20);
  color: #263238;
}

.header__btn {
  @extend %btn;
  padding: 20px 56px;
  line-height: calc(30 / 20);
  color: #000000;
  background-color: #fff;

  &:hover {
    background-color: #263238;
    color: #ffffff;
    border: 2px solid transparent;
  }
}
